@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

#homeHeroSection{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#helloTitle{
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	font-size: 8rem;
	color: #FF9821;
}

#helloTitleArrow{
	opacity: 0;
	transition: 200ms;
	transform: translateY(-20px);
	text-align: center;
	color: #FF9821;
}

#helloTitleArrow.visible{
	opacity: 1;
	transform: translateY(0px);
}

.typed{
	position: relative;
}

.typed::after{
	content: "";
	animation: typing 2s linear infinite;
	position: absolute;
	right: -30px;
}

@keyframes typing {
	30%  {content: ""}
	100% {content: "|"}
} 