@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

*{
	margin:0;
	padding:0;
}

html{
	display: flex;
	min-height: 100vh;
}

body{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex:1;
	overflow-x: hidden;
}

#canvasContainer{
	position: fixed;
	top: 0;
	right:0;
	height: 150px;
	width: 150px;
	transition: 300ms;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

#canvasContainer.active{
	cursor: default;
	top: 0;
	height: 100vh;
	width: 100vw;
}

#menuText{
	position: absolute;
	font-family: 'Nunito', sans-serif;
}

#canvasContainer.active #menuText{
	display: none;
}

#menu{
	font-family: 'Nunito', sans-serif;
	position: fixed;
	height: 100vh;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 1;
}

#menu p{
	color: black;
	font-size: 3rem;
	margin: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 0;
	cursor: pointer;
}

#menu p::before{
	position: absolute;
	left: -5%;
	height: 100%;
	width: 0;
	background-color: #ffffff55;
	content: "";
	transition: 200ms;
}

#menu p::after{
	position: absolute;
	right: -5%;
	height: 100%;
	width: 0;
	background-color: #ffffff55;
	content: "";
	transition: 200ms;
}

#menu p:hover::before{
	width: 55%;
}

#menu p:hover::after{
	width: 55%;
}

#menu p.active::before{
	width: 55%;
}

#menu p.active::after{
	width: 55%;
}

#menu.active{
	display: flex;
}

svg{
	position: fixed;
	width: 100vw;
	z-index: 999;
}

p{
	font-size: 3rem;
	padding: 20px;
}

